.Container {
    text-align: center;
}

.Container h1 {
    border-bottom: 2px solid gray;
}


.tableGpa {
    justify-content: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#gpaLine p {
    font-size: larger;
    font-weight: bold;
    border-bottom: 2px solid rgba(53, 207, 53, 0.699);
}