.containerForm {
    font-size: large;
}

.label {
    font-weight: bold;
}

.input {
    height: 25px;
    border-radius: 50px;
    margin-bottom: 0.5%;
}


.SubmitButton {
    margin-bottom: 1%;
    margin-top: 1%;
    height: 25px;
    width: 100px;
    background-color: rgba(175, 219, 110, 0.74);
    border: none;
    border-radius: 9999px;
    border-bottom: solid rgba(128, 128, 128, 0.37);
}