.courseCard{
    height: 80px;
    justify-content: center;
    background-color: rgba(219, 219, 219, 0.507);
    max-width: 30%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5%;
    border-radius: 20px;
    align-items: center;
} 

.tableBody {
    column-gap: 25px;
    align-items: center;
    margin-left: auto;
}

#t-title {
    border-bottom: 2px solid gray;

}


.deleteButt {
    color: white;
    background-color: rgba(255, 0, 0, 0.466);
    width: 35px;
    height: 25px;
    border-radius: 20px;
    align-items: center;
    margin: auto;
}